{% load  staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Home page</title>
</head>
<body>
<h1>Index.html</h1>

<h2>Переменная шаблона</h2>
<p>{{ insert }} - это переменная шаблона</p>

<h2>Теги шаблона</h2>
<h3>Тег цикла</h3>
{% for pizza in pizzas %}
    <div>
        <h4>{{ pizza.name }}</h4>
        <div>{{ pizza.short_description }}</div>
        <div>{{ pizza.price }}</div>
    </div>
{% endfor %}
<br />
<h3>Тег условия</h3>
{% for pizza in pizzas %}
    <div>
        <h4>{{ pizza.name }}</h4>
        <div>{{ pizza.short_description }}</div>
        <div>{{ pizza.price }}</div>
        {% if pizza.photo %}
            <div><img src="{{ pizza.photo.url }}" width="200px" height="124px" alt="{{ pizza.name }}"></div>
        {% endif %}
    </div>
{% endfor %}
<br />
<h3>Фильтры шаблона</h3>
{% for pizza in pizzas %}
    <div>
        <h4>{{ pizza.name }}</h4>
        <div>{{ pizza.short_description }}</div>
        <div>{{ pizza.price|floatformat:'2'}}</div>
        {% if pizza.photo %}
            <div><img src="{{ pizza.photo.url }}" width="200px" height="124px" alt="{{ pizza.name }}"></div>
        {% endif %}
    </div>
{% endfor %}
</body>
</html>