{% extends 'firstapp/base.html' %}
{% block page %}
    {% for pizza in pizzas %}
        <div>
            <h4><a href="{% url 'pizza-detail' pizza_id=pizza.id %}">{{ pizza.name }}</a></h4>
            <div>{{ pizza.short_description }}</div>
            <div>{{ pizza.price|floatformat:'2'}}</div>
            {% if pizza.photo %}
                <div><img src="{{ pizza.photo.url }}" width="200px" height="124px" alt="{{ pizza.name }}"></div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
